@import "~normalize.css";

@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background: $editor_page_background;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 10px;
  border: 3px solid $editor_border_color;
  display: block;
}

.button {
  margin: 10px;
  height: 30px;
  width: 70px;
  font-weight: 700;
  color: #fff;
  float: right;
  border-radius: 5px;
  &:hover {
    animation: buttonPulseText 1s ease-in-out infinite normal;
  }
}

.button-load {
  background: $button-load-color;
  border: 3px solid $button-load-color;
  &:hover {
    background: $button-load-color-bg-hover;
  }
}

.button-save {
  background: $button-save-color;
  border: 3px solid $button-save-color;
  margin-right: 0px;
  &:hover {
    background: $button-save-color-bg-hover;
  }
}

@keyframes buttonPulseText {
  0% {
    color: #fff
  }
  50% {
    color: $button-save-color-text-pulse-hover
  }
  100% {
    color: #fff
  }
}